html {
  font-size: 16px;
  color: rgba(0, 0, 0, .5);
}

body {
  box-sizing: inherit;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote {
  border-left: 5px solid #2F80ED;
  background-color: #CCC;
  font-size: 1.1em;
  padding: 1em 0px 0.2em 1em;
}

.sidebar a,
.toc a {
  font-size: 1.25rem;
}

#content h3,
#content h4 {
  font-weight: 300;
  padding-top: 1em;
}

a {
  color: #2F80ED;
}

img {
  max-width: 100%;
}

/********** Custom Elements - BEGIN **********/
.creator-compatibility-icon{
  width: 170px;
}
.voice-compatibility-icon{
  height: 62.5px;
}
/********** Custom Elements - END **********/


/********** Navbar - BEGIN **********/

.navbar {
  z-index: 999;
}

.navbar .navbar-brand {
  margin-right: 0px;
  padding: 9px 8px;
  height: 56px;
  width: 200px;
}

.navbar .navbar-brand span {
  font-size: 1.625rem;
  font-weight: 300;
  color: #8C8C8C;
}

.navbar .nav-link {
  font-size: 1em;
  cursor: pointer;
}

.navbar .navbar-collapse {
  float: right;
}

.navbar .dropdown-item {
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  text-align: right;
}

.navbar .nav-link {
  font-size: 1.125rem;
}

.navbar .nav-link.active {
  color: #0275d8!important;
}

.navbar .nav-item.dropdown>a {
  cursor: pointer;
}

.navbar .nav-item .dropdown-menu {
  right: 0;
  left: auto;
  min-width: 0px;
}

@media(max-width: 991px) {
  .navbar .navbar-light .navbar-toggler {
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar .navbar-toggler {
    position: absolute;
    z-index: 2;
    top: 10px;
  }
  .navbar .navbar-collapse {
    float: left;
  }
  .navbar .navbar-brand {
    text-align: center;
    margin: auto;
    padding: 4px 0px;
  }
  .navbar .dropdown-item {
    text-align: left;
  }
}

.navbar ul ul {
  padding-left: 1em;
}


/********** Navbar - END **********/


/********** Header - BEGIN **********/

.header {
  border-bottom: 2px solid #F6F6F6;
}

.header .jumbotron {
  background-color: #FFFFFF;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
}

.header .jumbotron h1 {
  font-size: 3.5rem;
  font-weight: 300;
  color: #828282;
}

.header .jumbotron form {
  display: flex;
  justify-content: flex-end;
}

.header .jumbotron form input {
  outline: none;
  font-size: 1.375rem!important;
  color: #2F80ED!important
}

.header .jumbotron form input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-size: 100%;
}

.header .jumbotron form input[type=search] {
  background: #FFFFFF url("../img/search.svg") no-repeat 10px center;
  padding: 8px 10px 8px 40px;
  width: 4.3rem;
  border: 0px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.header .jumbotron form input[type=search]:focus {
  width: 22rem;
  background-color: #FFFFFF;
  border: solid 1px #2A75F1;
}

.header .jumbotron form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #2F80ED!important;
}

.header .jumbotron form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #2F80ED!important;
}

.header .jumbotron form input:-ms-input-placeholder {
  /* IE 10+ */
  color: #2F80ED!important;
}

.header .jumbotron form input:-moz-placeholder {
  /* Firefox 18- */
  color: #2F80ED!important;
}

@media (max-width: 767px) {
  .header .jumbotron form {
    justify-content: normal;
    margin-top: 20px;
  }

  .content .toc-parent {
    display: none;
  }
}


/********** Header - END **********/


/********** Content - BEGIN **********/

.content {
  word-wrap: break-word;
}

.content .sidebar {
  border-right: 1px solid #EEE;
}

* {
  box-sizing: border-box;
}

.content .toc-parent {
  border-left: 1px solid #EEE;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  max-height: 100vh;
  overflow-y: auto;
}

.content .toc a {
  font-size: 0.75em;
}

/* scrolly spy */
.toc {
  position: relative;
  height: 100%;
  overflow-y: hidden;
}

/* add a little space to the top of each column so it's not against the border  */

.content .row>div {
  padding-top: 1em;
}


/* consistent layout for sidenavs */

.content .sidebar h3,
.content .toc h3 {
  font-weight: 300;
  margin-bottom: 30px;
  font-size: 1.375rem;
}

.content .sidebar .subnav {
  padding-left: 1em;
}

.content .sidebar ul,
.content .toc ul {
  font-size: 1.25rem;
  list-style: none;
  padding: 0px;
}

.content .sidebar ul ul li {
  line-height: 1.3em;
  margin-bottom: 0em;
  font-size: 0.9em;
}

.content .sidebar ul>li {
  margin: 0.25em 0em 0.25em 0em;
}

.content .sidebar ul .expanded {
  margin-bottom: 0.3em;
  margin-top: 1em;
}

.content .sidebar ul li a,
.content .toc ul li a {
  color: #828282;
  font-size: 0.75em;
}

.content .toc ul li a {
  transition: border-left-color 250ms;
  /* transition: left 100ms; */

  display:block;
  padding-left: 6px;
  border-left: 5px solid transparent;
}

.content .toc ul li a.active {
  border-left-color: #2F80ED;
  padding-left: 6px;
  color: #2F80ED;
}

.content .sidebar ul li a.active {
  color: #2F80ED;
  border-right: 5px solid #2F80ED;
  display: block;
}

.content .sidebar .submenu>ul {
  margin-top: 13px;
}

.content .sidebar .submenu .neasted {
  padding-left: 20px;
}

.content .docs {
  padding-top: 69px;
  padding-bottom: 69px;
  padding-left: 74px;
}

.content .toc h3 {
  line-height: 1.375rem;
  font-size: 1.375rem;
  font-weight: normal;
}

.content .toc ul li {
  margin-top: 13px;
  line-height: 0.9em;
}

.content .compatibility {
  text-align: left;
  padding-top: 69px;
}

.content .compatibility h3 {
  line-height: normal;
  font-size: 1.375rem;
  margin-bottom: 13px;
  color: #333333;
}

.content .compatibility p {
  font-size: 1.25rem;
  color: #828282;
  margin-bottom: 13px;
}

.content .docs h1 {
  font-weight: 300;
  line-height: normal;
  font-size: 2.625rem;
  color: #000000;
  margin-bottom: 18px;
}

.content .docs h2,
.content .docs h3 {
  font-size: 2rem;
  font-weight: 300;
}

.content .docs h4 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 20px 0px;
}

.content .docs h5,
.content .docs h6 {
  font-size: 1.2rem;
  font-weight: 300;
}

.content .docs p,
.content .docs ul {
  font-weight: normal;
  line-height: 1.755rem;
  font-size: 1.125rem;
  color: #828282;
}

.content .docs>ol {
  font-weight: normal;
  line-height: 1.755rem;
  font-size: 1.125rem;
  color: #828282;
}

.content .docs>ol {
  counter-reset: item;
}

.content .docs>ol li {
  display: block;
  margin-bottom: 13px;
}

.content .docs>ol li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  font-weight: 600;
}

pre {
  border: 1px dotted #bbb;
  /*background: #141414;*/
  background: #333333;
  border-radius: 5px;
  padding: 1em;
  margin: .5em 0;
}

pre code {
  line-height: 1.5;
  font-size: 1rem;
  color: #f8f8f2;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1rem;
}

@media (max-width: 991px) {
  .content .sidebar {
    padding-top: 30px;
    padding-bottom: 0px;
    border-right: 0px;
  }
  .content .sidebar ul li a.active,
  .content .toc ul li a.active {
    border-right: 0px;
  }
  .content .docs {
    padding: 0px 15px;
  }
  .content .docs>ol {
    padding-left: 15px;
  }
  .content .docs pre {
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 16px;
  }
  .content .compatibility {
    padding-top: 30px;
  }
  .collapse.navbar-collapse {
    display: none;
  }
}

@media (min-width: 992px) {
  .collapse.navbar-collapse {
    display: block;
  }
}


/********** Content - END **********/


/********** Search - BEGIN **********/

.search form {
  margin-bottom: 18px;
}

.search form input {
  outline: none;
  font-size: 1.375rem!important;
  color: #2F80ED!important;
  background: #FFFFFF url("../img/search.svg") no-repeat 10px center;
  padding: 8px 10px 8px 40px;
  width: 100%;
  border: solid 1px #2A75F1;
  background-color: #FFFFFF;
}


/********** Search - END **********/


/********** Footer - BEGIN **********/

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 2px solid #F6F6F6;
}

footer ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 18px;
}

footer li {
  margin-bottom: 12px;
}

footer h5 {
  font-size: 1.5rem;
}

footer a {
  font-size: 1.25rem;
  color: #949999;
}

footer .subscribe-box input {
  font-size: 1.125rem;
  font-weight: normal;
  padding: 10px 12px;
  height: 55px;
}

footer .subscribe-box input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 0.25;
}

footer .subscribe-box input::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0.25;
}

footer .subscribe-box input:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 0.25;
}

footer .subscribe-box input:-moz-placeholder {
  /* Firefox 18- */
  opacity: 0.25;
}

footer .subscribe-box button {
  font-size: 1.125rem;
  font-weight: normal;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: rgba(255, 255, 255, .75);
  cursor: pointer;
}

footer>.row:nth-of-type(2) {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer .company-logo {
  height: 56px;
  width: 200px;
}

footer .company-logo {
  text-decoration: none;
}

footer .company-logo span {
  font-weight: 300;
  font-size: 1.7rem;
  color: #8C8C8C;
}

footer .utility-links {
  float: right;
}

footer .utility-links a {
  cursor: pointer;
  margin-right: 20px;
}

footer .copyright {
  padding-top: 10px;
  display: block;
  color: #d3d3d3
}

@media (max-width: 575px) {
  footer>.row:nth-of-type(2) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  footer .utility-links {
    float: left;
    margin-bottom: 10px;
  }
  footer .utility-links a:nth-of-type(1) {
    margin-right: 0px;
  }
}
/********** Footer - END **********/

.collapse.show {
  display: block!important;
}
