<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FPGA MATRIX</title>
  <link rel="shortcut icon" href="../../../img/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../css/theme.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
</head>

<body data-spy="scroll">
  <nav class="navbar navbar-expand-lg navbar-light container">
  <a class="navbar-brand" href="/">
    <img src="../../../img/everloop.png" width="38" height="38" class="d-inline-block align-top" alt="">
    <span>MATRIX</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-menu">
    <ul class="navbar-nav ml-auto">
      <!-- <li class="nav-item">
        <a class="nav-link">
          For Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          Creator
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          Voice
        </a>
      </li>
      <li class="nav-item">
        <a href="https://apps.matrix.one/" target="blank" class="nav-link">
          Apps
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          Store
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          OS
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active">
          Developers
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="/img/english.png" alt="English">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">
            <span>Português</span>
            <img src="/img/brazil.png" alt="Portuguese" />
          </a>
          <a class="dropdown-item" href="#">
            <span>Español</span>
            <img src="/img/spain.png" alt="Spanish" />
          </a>
        </div>
      </li> -->
    </ul>
  </div>
</nav>

  <div class="header">
    <div class="container">
      <div class="jumbotron">
        <div class="row">
          <div class="col-sm-8">
            
            <h1>FPGA</h1>
            
          </div>
          <div class="col-sm-4">
            <form action="../../../search.html" method="get">
              <input class="form-control" type="search" name="q" placeholder="Search" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="sidebar col-lg-2">
          <h3>Documentation</h3>
          <ul>
              

<!-- link to depth-first url found  -->
  

<!-- If there are no children, use the url (simple)  -->
<li>
  <a href="../../.." class="">
    Overview
  </a>
</li>


  

<!-- link to depth-first url found  -->
  

<!-- If there are no children, use the url (simple)  -->
<li>
  <a href="../../../setup/" class="">
    Device Setup
  </a>
</li>


  


<!-- Children complicate things  -->

<!-- link to depth-first url found  -->
  

<!-- print root node  -->
<li class="">
  <a href="../../../matrix-os/" class="">
    MATRIX OS
  </a>
</li>

<ul class="subnav">
   
  <!-- only 1 deep, print menu items  -->
     
  <!-- 2 deep  -->
  <!-- print subroot  -->
  <li>
    <a href="../../../matrix-os/getting-started/prerequisites/" class="">
      Getting Started
    </a>
  </li>

  <ul class="subnav">
      
        
        
        
        
        
      
  </ul>

    
  <!-- 2 deep  -->
  <!-- print subroot  -->
  <li>
    <a href="../../../matrix-os/overview/" class="">
      Overview
    </a>
  </li>

  <ul class="subnav">
        
        
        
        
        
        
        
      
  </ul>

    
  <!-- 2 deep  -->
  <!-- print subroot  -->
  <li>
    <a href="../../../matrix-os/examples/" class="">
      Examples
    </a>
  </li>

  <ul class="subnav">
        
        
        
        
      
  </ul>

    
  <!-- 2 deep  -->
  <!-- print subroot  -->
  <li>
    <a href="../../../matrix-os/reference/" class="">
      Reference
    </a>
  </li>

  <ul class="subnav">
        
        
        
        
        
        
        
        
        
        
        
        
        
      
  </ul>

    
  <!-- only 1 deep, print menu items  -->
   
  <li><a href="../../../matrix-os/troubleshooting/" class="">Troubleshooting</a></li>
    
</ul>

  


<!-- Children complicate things  -->

<!-- link to depth-first url found  -->
  

<!-- print root node  -->
<li class="">
  <a href="../../../matrix-core/" class="">
    MATRIX CORE
  </a>
</li>

<ul class="subnav">
   
  <!-- only 1 deep, print menu items  -->
     
  <!-- 2 deep  -->
  <!-- print subroot  -->
  <li>
    <a href="../../../matrix-core/getting-started/prerequisites/" class="">
      Getting Started
    </a>
  </li>

  <ul class="subnav">
      
        
        
        
      
  </ul>

    
  <!-- 2 deep  -->
  <!-- print subroot  -->
  <li>
    <a href="../../../matrix-core/examples/pytests/" class="">
      Examples
    </a>
  </li>

  <ul class="subnav">
      
        
      
  </ul>

    
  <!-- 2 deep  -->
  <!-- print subroot  -->
  <li>
    <a href="../../../matrix-core/reference/everloop/" class="">
      Reference
    </a>
  </li>

  <ul class="subnav">
      
        
        
        
        
        
        
        
      
  </ul>

    
  <!-- only 1 deep, print menu items  -->
   
  <li><a href="../../../matrix-core/troubleshooting/" class="">Troubleshooting</a></li>
    
</ul>

  


<!-- Children complicate things  -->

<!-- link to depth-first url found  -->
  

<!-- print root node  -->
<li class="">
  <a href="../../" class="active">
    MATRIX HAL
  </a>
</li>

<ul class="subnav">
   
  <!-- only 1 deep, print menu items  -->
     
  <!-- 2 deep  -->
  <!-- print subroot  -->
  <li>
    <a href="../../getting-started/installation/" class="">
      Getting Started
    </a>
  </li>

  <ul class="subnav">
      
        
        
      
  </ul>

    
  <!-- 2 deep  -->
  <!-- print subroot  -->
  <li>
    <a href="../../datasheets/creator/" class="">
      Boards
    </a>
  </li>

  <ul class="subnav">
      
        
      
  </ul>

    
  <!-- 2 deep  -->
  <!-- print subroot  -->
  <li>
    <a href="../" class="active">
      Components
    </a>
  </li>

  <ul class="subnav">
        
    
    <li><a href="./" class="active">FPGA</a></li>
        
    
    <li><a href="../microphone/" class="">Microphone</a></li>
        
    
    <li><a href="../Sam3/" class="">SAM3</a></li>
        
    
    <li><a href="../Sam3mcu/" class="">SAM3MCU</a></li>
        
    
    <li><a href="../pinout/" class="">Pinout</a></li>
        
    
    <li><a href="../SPI/" class="">SPI</a></li>
      
  </ul>

    
  <!-- 2 deep  -->
  <!-- print subroot  -->
  <li>
    <a href="../../tools/" class="">
      Tools
    </a>
  </li>

  <ul class="subnav">
      
        
      
  </ul>

    
  <!-- 2 deep  -->
  <!-- print subroot  -->
  <li>
    <a href="../../examples/alexa/" class="">
      Examples
    </a>
  </li>

  <ul class="subnav">
      
      
  </ul>

    
  <!-- only 1 deep, print menu items  -->
   
  <li><a href="../../troubleshooting/" class="">Troubleshooting</a></li>
    
</ul>

  

<!-- link to depth-first url found  -->
  

<!-- If there are no children, use the url (simple)  -->
<li>
  <a href="../../../help/" class="">
    Support
  </a>
</li>


 
          </ul>
        </div>
        <div id="content"  class="col-lg-8">
           <h3 id="fpga">FPGA</h3>
<p>Once you have installed the <a href="../../../intro/install">required software</a> you can program the FPGA. This will allow you to play with the everloop LED array.</p>
<p>First, get the firmware.</p>
<pre><code>wget http://packages.matrix.one/matrix-creator-firmware/firmware-0.8.tar.gz
tar xzvf firmware-0.8.tar.gz
</code></pre>
<p>Then flash the firmware using the <a href="https://github.com/matrix-io/xc3sprog/">xc3sprog</a> program that should be installed on the Raspberry.</p>
<pre><code>sudo xc3sprog -c matrix_pi firmware-0.8/blob/system.bit -p 1
</code></pre>
<p>Sample result:</p>
<pre><code>$ sudo xc3sprog -c matrix_pi firmware-0.8/blob/system.bit -p 1
XC3SPROG (c) 2004-2011 xc3sprog project $Rev: 774 $ OS: Linux
Free software: If you contribute nothing, expect nothing!
Feedback on success/failure/enhancement requests:
    http://sourceforge.net/mail/?group_id=170565 
Check Sourceforge for updates:
    http://sourceforge.net/projects/xc3sprog/develop

DNA is 0x39c620e4bfe15bfd
</code></pre>
<p>Questions? Post them on <a href="http://raspberrypi.stackexchange.com">raspberrypi.stackexchange.com</a>! Use the tag #matrix-creator</p> 
        </div>
        <div class="toc-parent col-lg-2">
          <div class="toc">
            
            <h3>Contents</h3>
            <ul class="nav">
               <li class='nav-item'>
  <a href="#fpga" class="nav-link active">
    FPGA
  </a>
  
</li> 
            </ul>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  </div>

  <footer class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-sm-4">
          <h5>MATRIX</h5>
          <ul>
            <li>
              <a href="https://apps.matrix.one/" target="blank">Apps</a>
            </li>
            <li>
              <a href="/">Creator</a>
            </li>
            <li>
              <a href="/">Voice</a>
            </li>
            <!--<li>
              <a href="/">Store</a>
            </li>-->
          </ul>
        </div>
        <div class="col-sm-4">
          <h5>Learn</h5>
          <ul>
            <li>
              <a href="/">Blog</a>
            </li>
            <li>
              <a href="/">Community</a>
            </li>
            <li>
              <a href="/">Docs</a>
            </li>
            <li>
              <a href="/">MATRIX Ecosystem</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h5>Social Network</h5>
          <ul>
            <li>
              <a href="/">Facebook</a>
            </li>
            <li>
              <a href="/">Twitter</a>
            </li>
            <li>
              <a href="/">YouTube</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <h5>Contact</h5>
      <ul>
        <li>
          <a href="mailto:contact@matrix.one">contact@matrix.one</a>
        </li>
        <li class="subscribe-box">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Subscribe for Updates">
            <button type="button" class="btn btn-success">Subscribe</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 push-sm-6">
      <div class="utility-links">
        <a href="/">Terms of Service</a>
        <a href="/">Privacy Policy</a>
        <a href="/">Cookie Policy</a>
      </div>
    </div>
    <div class="col-sm-6 pull-sm-6">
      <a href="/" class="company-logo">
        <img src="../../../img/everloop.png" width="38" height="38" class="d-inline-block align-top" alt="">
        <span>MATRIX</span>
      </a>
      <small class="copyright">
        2016 - 2017 &copy; MATRIX - All rights reserved
      </small>
    </div>
  </div>
</footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="../../../js/theme.js"></script>
  <script src="https://use.fontawesome.com/21aeb6fedc.js"></script>

  <!-- TOC Script -->
  <script>
    jQuery(function($) {
      $('.toc-parent ul li a').on('click', function() {
        var removedElement = $(this)
          .closest('.toc-parent ul li')
          .find('a.active')
          .removeClass('active');

        if (removedElement.length == 0) {
          $('.toc-parent ul li').find('a.active').removeClass('active');
        }

        $(this).addClass('active');
      });
    });
  </script>

   
</body>

</html>