/* Copy buttons */

a.copybtn {
    webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    opacity: 0;
    padding: 5px 8px;
    position: absolute;
    right: 4px;
    top: 4px;
    background-color: #cccccd;
}

div.codehilite:hover .copybtn, div.codehilite .copybtn:focus {
    opacity: .5;
}
div.codehilite .copybtn:hover {
    opacity: 1;
}
/* div.codehilite .copybtn:active {
    background-color: #2f7fed;
} */
div.codehilite {
    position: relative;
}

/* button.copybtn {
    webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    opacity: 0;
    padding: 5px 8px;
    position: absolute;
    right: 4px;
    top: 4px;
}

div.codehilite:hover .copybtn, div.codehilite .copybtn:focus {
    opacity: .5;
}
div.codehilite .copybtn:hover {
    opacity: 1;
}
/* div.codehilite .copybtn:active {
    opacity: 1;
} */

div.codehilite {
    position: relative;
} */