html {
  font-size: 16px;
  color: rgba(0,0,0,.5);
}

body {
  box-sizing: inherit;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-size: 1.25rem;
  color: #2F80ED;
}

/********** Navbar - BEGIN **********/
.navbar {
  z-index: 999;
}
.navbar .navbar-brand {
  margin-right: 0px;
  padding: 9px 8px;
  height: 56px;
  width: 200px;
}
.navbar .navbar-brand span {
  font-size: 1.625rem;
  font-weight: 300;
  color: #8C8C8C;
}
.navbar .nav-link {
  font-size: 1em;
  cursor: pointer;
}
.navbar .navbar-collapse {
  float: right;
}
.navbar .dropdown-item {
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  text-align: right;
}
.navbar .nav-link {
  font-size: 1.125rem;
}
.navbar .nav-link.active {
  color: #0275d8!important;
}
.navbar .nav-item.dropdown > a {
  cursor: pointer;
}
.navbar .nav-item .dropdown-menu {
  right: 0;
  left: auto;
  min-width: 0px;
}

@media(max-width: 991px) {
  .navbar .navbar-light .navbar-toggler {
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar .navbar-toggler {
    position: absolute;
    z-index: 2;
  }
  .navbar .navbar-collapse {
    float: left;
  }
  .navbar .navbar-brand {
    text-align: center;
    margin: auto;
    padding: 4px 0px;
  }
  .navbar .dropdown-item {
    text-align: left;
  }
}
/********** Navbar - END **********/

/********** Header - BEGIN **********/
.header {
  border-bottom: 2px solid #F6F6F6;
}
.header .jumbotron {
  background-color: #FFFFFF;
  padding-left: 0px;
  padding-right: 0px;
}
.header .jumbotron h1 {
  font-size: 3.5rem;
  font-weight: 300;
  color: #828282;
}
.header .jumbotron form {
  display: flex;
  justify-content: flex-end;
}

.header .jumbotron form input {
  outline: none;
  font-size: 1.375rem!important;
  color: #2F80ED!important
}
.header .jumbotron form input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-size: 100%;
}
.header .jumbotron form input[type=search] {
  background: #FFFFFF url("../img/search.svg") no-repeat 10px center;
  padding: 8px 10px 8px 40px;
  width: 4.3rem;
  border: 0px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.header .jumbotron form input[type=search]:focus {
  width: 22rem;
  background-color: #FFFFFF;
  border: solid 1px #2A75F1;
}
.header .jumbotron form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #2F80ED!important;
}
.header .jumbotron form input::-moz-placeholder { /* Firefox 19+ */
  color: #2F80ED!important;
}
.header .jumbotron form input:-ms-input-placeholder { /* IE 10+ */
  color: #2F80ED!important;
}
.header .jumbotron form input:-moz-placeholder { /* Firefox 18- */
  color: #2F80ED!important;
}
/********** Header - END **********/

/********** Content - BEGIN **********/
.content .sidebar {
  border-right: 2px solid #F6F6F6;
  padding-top: 69px;
  padding-bottom: 69px;
}
.content .sidebar h3 {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 30px;
}
.content .sidebar ul {
  font-size: 1.25rem;
  list-style: none;
  padding: 0px;
}
.content .sidebar ul li {
  margin-bottom: 22px;
}
.content .sidebar ul li a {
  color: #828282;
}
.content .sidebar ul li a.active {
  color: #2F80ED;
  border-right: 5px solid #2F80ED;
  display: block;
}
.content .sidebar .submenu > ul {
  margin-top: 22px;
}
.content .sidebar .submenu .neasted {
  padding-left: 20px;
}
.content .docs {
  padding-top: 69px;
  padding-bottom: 69px;
  padding-left: 74px;
}
.content .docs h1 {
  font-weight: 300;
  line-height: normal;
  font-size: 2.625rem;
  color: #000000;
  margin-bottom: 18px;
}
.content .docs .summary > ol {
  font-size: 1.375rem;
  color: #2F80ED;
  margin-bottom: 49px;
}
.content .docs .summary ol {
  counter-reset: item;
}
.content .docs .summary ol li {
  display: block;
  margin-bottom: 13px;
}
.content .docs .summary ol li:before {
  content: counters(item, ".") ".";
  counter-increment: item;
}
.content .docs .compatibility {
  text-align: right;
}
.content .docs .compatibility .title {
  font-size: 1.375rem;
  color: #828282;
  margin-bottom: 13px;
}
.content .docs .compatibility p {
  font-size: 1.25rem;
  color: #333333;
  margin-bottom: 5px;
}
.content .docs h2,
.content .docs h3,
.content .docs h4 {
  font-size: 2rem;
  font-weight: 300;
}
.content .docs p,
.content .docs ul {
  font-weight: normal;
  line-height: 1.755rem;
  font-size: 1.125rem;
  color: #828282;
}
.content .docs pre {
  background: #EDEDED;
  border-radius: 5px;
  padding: 20px 40px;
  margin: 30px 0px;
}
.content .docs pre code {
  line-height: normal;
  font-size: 1rem;
  color: #4F4F4F;
}
.content .docs code {
  line-height: normal;
  font-size: 1rem;
}
/********** Content - END **********/

/********** Footer - BEGIN **********/
footer {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 2px solid #F6F6F6;
}
footer ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 18px;
}
footer li {
  margin-bottom: 12px;
}
footer h5 {
  font-size: 1.5rem;
}
footer a {
  font-size: 1.25rem;
  color: #949999;
}
footer .subscribe-box input {
  font-size: 1.125rem;
  font-weight: normal;
  padding: 10px 12px;
  height: 55px;
}
footer .subscribe-box input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 0.25;
}
footer .subscribe-box input::-moz-placeholder { /* Firefox 19+ */
  opacity: 0.25;
}
footer .subscribe-box input:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.25;
}
footer .subscribe-box input:-moz-placeholder { /* Firefox 18- */
  opacity: 0.25;
}
footer .subscribe-box button {
  font-size: 1.125rem;
  font-weight: normal;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: rgba(255,255,255,.75);
  cursor: pointer;
}
footer > .row:nth-of-type(2) {
  margin-top: 30px;
  margin-bottom: 30px;
}
footer .company-logo {
  height: 56px;
  width: 200px;
}
footer .company-logo {
  text-decoration: none;
}
footer .company-logo span {
  font-weight: 300;
  font-size: 1.7rem;
  color: #8C8C8C;
}
footer .utility-links {
  float: right;
}
footer .utility-links a:nth-of-type(1) {
  margin-right: 20px;
}
footer .copyright {
  padding-top: 10px;
  display: block;
  color: #d3d3d3
}
@media (max-width: 575px) {
  footer > .row:nth-of-type(2) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  footer .utility-links {
    float: left;
    margin-bottom: 10px;
  }
  footer .utility-links a:nth-of-type(1) {
    margin-right: 0px;
  }
}
/********** Footer - END **********/







