/********** Navbar - START **********/
.navbar {
  z-index: 999;
}

.navbar-brand {
  padding: 9px 8px;
  font-weight: 300;
  font-size: 1.625rem;
  margin-right: 0px;
  height: 56px;
  width: 200px;
  color: #8C8C8C;
}

.nav-link {
  font-size: 1em;
}

.navbar-collapse {
  float: right;
}

.dropdown-item {
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  width: 120px;
  text-align: right;
}

.nav-link {
  font-size: 1.125rem;
}
.nav-link.active {
  color: #0275d8!important;
}

.nav-item.dropdown > a {
  cursor: pointer;
}

.nav-item .dropdown-menu {
  right: 0;
  left: auto;
  min-width: 0;
}

@media(max-width: 991px) {
  .navbar-light .navbar-toggler {
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-toggler {
    position: absolute;
    z-index: 2;
  }
  .navbar-collapse {
    float: left;
  }
  .navbar-brand {
    text-align: center;
    margin: auto;
    padding: 4px 0px;
  }
  .dropdown-item {
    text-align: left;
  }
}
/********** Navbar - END **********/
