html {
  font-size: 16px;
  color: rgba(0,0,0,.5);
}

body {
  box-sizing: inherit;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/********** Navbar - BEGIN **********/
.navbar {
  z-index: 999;
}

.navbar-brand {
  margin-right: 0px;
  padding: 9px 8px;
  height: 56px;
  width: 200px;
}
.navbar-brand span {
  font-size: 1.625rem;
  font-weight: 300;
  color: #8C8C8C;
}

.nav-link {
  font-size: 1em;
  cursor: pointer;
}

.navbar-collapse {
  float: right;
}

.dropdown-item {
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  text-align: right;
}

.nav-link {
  font-size: 1.125rem;
}
.nav-link.active {
  color: #0275d8!important;
}

.nav-item.dropdown > a {
  cursor: pointer;
}

.nav-item .dropdown-menu {
  right: 0;
  left: auto;
  min-width: 0px;
}

@media(max-width: 991px) {
  .navbar-light .navbar-toggler {
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-toggler {
    position: absolute;
    z-index: 2;
  }
  .navbar-collapse {
    float: left;
  }
  .navbar-brand {
    text-align: center;
    margin: auto;
    padding: 4px 0px;
  }
  .dropdown-item {
    text-align: left;
  }
}
/********** Navbar - END **********/

/********** Header - BEGIN **********/
.jumbotron {
  background-color: #FFFFFF;
  padding-left: 0px;
  padding-right: 0px;
}
.jumbotron h1 {
  font-size: 3.5rem;
  font-weight: 300;
  color: #828282;
}
/********** Header - END **********/








