{% if not nav_item.children %}
<li>
  {% if not nav_item.url %}
  {% set nav_url = nav_item.children[0].url %}
  {% else %}
  {% set nav_url = nav_item.url %}
  {% endif %}
  <a href="{{ nav_url }}" class="{% if nav_item.active %}active{% endif %}">
    {{ nav_item.title }}
  </a>
</li>
{% else %}
<li class="submenu">
  <a href="#">
    {{ nav_item.title }}
  </a>
  <ul class="neasted">
    {% for nav_item in nav_item.children %}
    <li>
      {% if not nav_item.url %}
      {% set nav_url = nav_item.children[0].url %}
      {% else %}
      {% set nav_url = nav_item.url %}
      {% endif %}
      <a href="{{ nav_url }}" class="{% if nav_item.active %}active{% endif %}">
        {{ nav_item.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</li>
{% endif %}
